<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "JDM BLOG", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Uzytkownicy", users_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Articles
          </a>
          <div class="dropdown-menu" id="drop" aria-labelledby="navbarDropdown">
          <% if logged_in? %>
            <%= link_to "Nowy wpis", new_article_path, class: "dropdown-item" %>
          <% end %>
          <%= link_to "Wszystkie wpisy", articles_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
          </div>
      </li>
      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b id="navbarDropdown1"><%= "(Admin)" if current_user.admin? %></b> Profil [<%= current_user.username %>]
          </a>
          <div class="dropdown-menu" id="drop" aria-labelledby="navbarDropdown">
          <%= link_to "Wyswietl swoj profil", user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Edytuj swoj profil", edit_user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Usun profil", user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Jestes pewien?" } %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Wyloguj sie", logout_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Zaloguj sie", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Zarejestruj sie", signup_path, class: "nav-link" %>
        </li>
      <% end %>
      </ul>
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search in forum" aria-label="Search">
	  <a class="btn btn-primary" id="btn" href="#" role="button">Search</a>
      </form>
  </div>
</nav>
